<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Dear, {{Name}}!</h1>
    <p>This is an email for request adding book</p>
    <p>your request is rejected, these are the books that I want the library to add: </p>
    <ul>
        <li>Book Title: {{Title}}</li>
        <li>Book Author: {{Author}}</li>
        <li>Book Publisher: {{Publisher}}</li>
        <li>Book ISBN: {{ISBN}}</li>
        <li>Comment :{{Comment}}</li>
    </ul>
    <p>Thank you!</p>
    <p>Library Manager</p>
</body>
</html>